* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: black;
  padding: 24px;
  padding-top: 80px;
}

.header-wrapper {
  min-height: 80px;
  flex-direction: column-reverse;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
}
.header-container {
  height: 60px;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 100vw;
}
.header > img {
  flex: 0;
}

.flex-helper {
  flex: 1;
  display: inline-block;
}

.body {
  flex-wrap: wrap;
  flex-direction: column;
}

section {
  margin-top: 32px;
}
h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  padding: 0;
  color: white;
}
hr {
  color: white;
  margin: 0;
}
.section-content_wrapper {
  margin: 24px 8px;
  flex-direction: row;
  display: flex;
}
canvas {
  flex: 1;
  height: 100px;
}
.btn {
  transition: opacity 0.2s ease-in-out;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}
.btn:active {
  opacity: 0.5;
}
.btn > img {
  height: 100px;
  margin: 0;
  padding: 0;
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {

}
/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  body {
    padding-top: 104px;
  }
  header {
    min-height: 104px;
  }
}
/* iphone XR */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
  body {
    padding-top: 104px;
  }
  header {
    min-height: 104px;
  }
}
/* iphone XS */
@media only screen and (min-device-width : 375px) and (max-device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  body {
    padding-top: 104px;
  }
  header {
    min-height: 104px;
  }
}
/* iphone XS Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
  body {
    padding-top: 104px;
  }
  header {
    min-height: 104px;
  }
}
