<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Coop Dreams</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Coop Dreams requests geolocation to provide a customized experience</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Coop Dreams needs Microphone access to record audio</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WebRCTApplicationConfig</key>
	<dict>
		<key>SafariLinkingDisallowed3rdPartyUrls</key>
		<array>
			<string>connect.facebook.net</string>
			<string>amazonaws.com</string>
			<string>facebook.com</string>
		</array>
		<key>audioQuality</key>
		<string>${AudioQuality}</string>
		<key>barStyle</key>
		<string>${StatusBarStyle}</string>
		<key>colors</key>
		<dict>
			<key>backgroundColor</key>
			<string>${ColorSettingStatusBar}</string>
			<key>primary</key>
			<string>${ColorSettingPrimary}</string>
			<key>spinner</key>
			<string>${ColorSettingLoadingSpinner}</string>
			<key>text</key>
			<string>${ColorSettingErrorText}</string>
		</dict>
		<key>disableWebpageZoom</key>
		<string>${DisableWebpageZoom}</string>
		<key>domainOriginTestPattern</key>
		<string>${DomainOriginTestPattern}</string>
		<key>enableMixedContentMode</key>
		<string>${EnableMixedContentMode}</string>
		<key>forceOfflineFullscreen</key>
		<string>${FullscreenWhenOffline}</string>
		<key>fullscreen</key>
		<string>${Fullscreen}</string>
		<key>offlineBarStyle</key>
		<string>${StatusBarOfflineStyle}</string>
		<key>postfix</key>
		<dict>
			<key>app_id</key>
			<string>${UAPostfixSettingAppId}</string>
			<key>other_postfix</key>
			<string>${UAPostfixExtraData}</string>
			<key>version</key>
			<string>${UAPostfixSettingVersion}</string>
		</dict>
		<key>pushMobileWebpageMeta</key>
		<string>${PushMobileWebpageMeta}</string>
		<key>url</key>
		<string>${WebRCTAdapterSettingURL}</string>
	</dict>
</dict>
</plist>
